.topContainer {
  width: 100%;
  height: fit-content;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.left {
  flex: 1;
  height: 100%;
  display: flex;
}

.left label {
  font-size: 5rem;
  color: var(--label);
  font-weight: bold;
}
.right {
  flex: 1.5;
  /* display: flex;
  align-items: end; */
  height: 100%;
  background-image: url("./images/binary.png");
  background-size: cover;
  background-position: center;
  overflow: hidden;
}

.right img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.buttonContainer {
  position: absolute;
  bottom: 0;
  right: 0.8rem;
}

.sessionHistoryContainer {
  width: 100%;
  height: fit-content;
  background: rgb(61, 61, 61);
  border-radius: 0.5rem;
  padding: 2.5rem 1.4rem;
  width: 100%;
  background-image: url("/images/session-history.png");
  background-size: cover;
  background-position: top;
  overflow: hidden;
}

.sessionHistoryContainer h3 {
  font-size: 2rem;
  color: #f3f3f3;
  margin-bottom: 1.8rem;
  font-weight: bold;
}

.sessionHistoryCardContainer {
  display: flex;
  flex-direction: row;
  gap: 2.4rem;
}

.sessionHistoryCard {
  background-color: #f3f3f3;
  padding: 2.4rem 1.4rem;
  border-radius: 0.5rem;
  width: 23.2%;
}

.sessionHistoryCard h4 {
  font-size: 1.8rem;
  color: #415385;
  font-weight: bold;
}

.sessionHistoryCard p {
  font-size: 1.4rem;
  color: #2d2d2d;
  font-weight: normal;
}

.butonFlexContainer {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: space-between;
}

.updatedDate p {
  font-size: 1.2rem;
}

.button {
  display: inline-block;
  font-weight: 500;
  color: #212529;
  text-align: center;
  border: 1px solid #3b3b3b;
  padding: 1rem 2.5rem;
  font-size: 1.4rem;
  border-radius: 0.25rem;
  color: var(--black);
  background-color: #fcf2db;
}
