.sessionHistoryContainer {
    width: 100%;
    height: fit-content;
    background: rgb(61, 61, 61);
    border-radius: 0.5rem;
    padding: 2.5rem 1.4rem;
    width: 100%; 
    background-image: url('../../../../assets/images/session-history-bg.svg');
    background-size: cover; 
    background-position: top; 
    overflow: hidden; 
}

.sessionHistoryContainer h3 {
    font-size: 2rem;
    color: #F3F3F3;
    margin-bottom: 1.8rem;
    font-weight: bold;
}

.sessionHistoryCardContainer {
    display: flex;
    flex-direction: row;
    gap: 2.4rem;
}

.sessionHistoryCard {
    background-color: #F3F3F3;
    padding: 2.4rem 1.4rem;
    border-radius: 0.5rem;
    width: 23.2%;
}

.sessionHistoryCard h4 {
    font-size: 1.8rem;
    color: #415385;
    font-weight: bold;
}

.sessionHistoryCard p {
    font-size: 1.6rem;
    color: #2D2D2D;
    font-weight: normal;
}

.butonFlexContainer {
    display: flex;
    flex-direction: row;
    align-items: end;
    justify-content: space-between;
}

.updatedDate p {
    font-size: 1.2rem;
}

.button {
    display: inline-block;
    font-weight: 500;
    color: #212529;
    text-align: center;
    border: 1px solid #3B3B3B;
    padding: 1rem 3rem;
    font-size: 1.6rem;
    border-radius: 0.25rem;
    color: var(--black);
    background-color: #FCF2DB;
}

