:root {
  --bg-color: #fdfdfd;
  --primary: #303c6d;
  --primary-light: #404f90;
  --secondary: #e56e00;
  --secondary-light: #f4c599;
}

*::after,
*::before {
  margin: 0px;
  padding: 0px;
  box-sizing: inherit;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 62.5%;
  font-family: "Poppins", sans-serif;
}
